.big-text-holder
{
}
.big-text
{
  display: inline-block;
  font-weight: 100;
  overflow: hidden;
  padding: 20px 0;
}
#big-text-swap
{
  display: inline-block;
  color: #be46a2;
}
#big-text-swap.disappear
{
  animation: disappear 0.2s cubic-bezier(1, -0.08, 1, 1) forwards;
}
#big-text-swap.appear
{
  animation: appear 0.2s cubic-bezier(0, 0.94, 1, 1) forwards;
}
@keyframes appear {
  0% {
    -webkit-filter: blur(5px);
    transform: translateY(-700px) scaleY(2);
    opacity: 50;
  }
  100% {
    -webkit-filter: none;
    transform: translateY(0px);
    opacity: 100;
  }
}
@keyframes disappear {
  0% {
    -webkit-filter: none;
    transform: none;
    opacity: 100;
  }
  99% {
    -webkit-filter: blur(15px);
    transform: translateY(1000px);
    opacity: 50;
  }
  100% {
    -webkit-filter: blur(15px);
    transform: translateY(1000px);
    display: none;
  }
}
.main-holder
{
  height: 100%;
  margin: 10px;
  padding: 15px;
}
.learn-more-btn
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.learn-more-icon
{
  display: inline-block;
  width: 25px;
}

.header-holder
{
  padding: 10px 0;
}
.section
{
  margin-bottom: 50px;
  max-width: 500px;
}
.doc-animation
{
  height: 100px;
  overflow: hidden;
  width: 200%;
  left: 0;
  animation: slide 30s linear forwards;
}
.doc-icon
{
  width: 100px;
  height: 100px;
  background: url(/img/doc.png) no-repeat center;
  background-size: 60px;
  display: inline-block;
}