/* Search bar */
#cv-search {
	position:relative;
  margin: 130px 0 0 8%;
  width:800px;
}
#cv-searchbar {
  border: 2px solid #9a9a9a;
  border-radius: 25px 0 0 25px;
  width: 600px;
  height: 60px;
  font-size: 20pt;
  border-right: none;
  display: inline-block;
  vertical-align: top;
}
#cv-searchbtn {
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  border: 2px solid #9a9a9a;
  border-left: none;
  height: 56px;
  width: 65px;
  font-size: 15px;
  background: white;
  display: inline-block;
  margin-left: -5px;
  text-align: center;
}
#cv-searchbtn-icon {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.hp {
  width:100%;
  position: absolute;
  text-align: justify;
}

/* Schools near you list */
.schools-holder {
  position:relative;
  overflow: hidden;
}
.schools {
  position: absolute;
  list-style: none;
  left:0;
  right:0;
  margin:auto;
}
.nschool, #more {
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 12pt;
}
.nschool {
  text-decoration: underline;
}
#more {
  font-size: 12pt;
  margin-top: 10px;
}

/* Background image */
.home-background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 100%;
  z-index: -2;
  background-size: cover;
}
.home-background.bg {
  background: url(/img/home.png) repeat-x bottom center;
}
.home-background.fg {
  background: url(/img/clouds.png) repeat-x bottom center;
  animation: slide 5s linear infinite;
  -webkit-animation: slide 100s linear infinite;
}
@keyframes slide {
    from { background-position: 0 bottom; }
    to { background-position: -1512px bottom; }
}
@-webkit-keyframes slide {
    from { background-position: 0 bottom; }
    to { background-position: -1512px bottom; }
}
@media screen and (max-width: 800px) {
  @keyframes slide {
    from { background-position: 0 bottom; }
    to { background-position: -800px bottom; }
  }
  @-webkit-keyframes slide {
      from { background-position: 0 bottom; }
      to { background-position: -800px bottom; }
  }
  .home-background {
    background-size: 800px !important;
  }
  #cv-search {
    text-align: center;
    margin: 110px auto auto;
    width: 100%;
  }
  .cv-holder {
    text-align: center;
  }
  #cv-searchbar {
    display:inline-block;
    border: 2px solid #9a9a9a;
    border-radius:25px;
    width:320px;
    height:40px;
    font-size: 20px;
  }
  #cv-searchbtn {
    display:none;
  }
  .cv {
    margin: auto !important;
  }
  .nschool {
    font-size: 13pt;
  }
  #more {
    font-size: 11pt;
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ffd367;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffd367 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
