.popup
{
  position: fixed;
  background: white;
  width: 450px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: grey 0px 0px 5px 0px;
}
.popup.loading
{
  padding: 150px 0;
}

img.close-icon
{
  height: 20px;
  margin: 15px;
}

img.close-notice
{
  height: 19px;
  margin: 15px;
}

.close-icon-holder
{
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  float: right;
}
.popup-header
{
  font-size: 18pt;
  color: black;
  font-weight: 100;
  padding: 15px 30px;
}
.popup-submit
{
  margin: 25px 0;
  width: unset;
}
.popup-form
{
  margin: 0 30px;
}
/* Mini alerts/notices appearing on the top */
.notice
{
  display: none;
  width: 100%;
  background: rgb(247, 224, 246);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 14pt;
}

.popup-form.big-form
{
  height: 420px;
  overflow-y: scroll;
}
.popup-form-field
{
  font-size: 12pt;
  font-weight: 100;
  margin: 15px 0;
}
.popup-form-field-label
{
  text-transform: capitalize;
  margin-bottom: 5px;
}

.popup-form-field-input,
.popup-form-field-input:hover
{
  border: 1px solid #ddd;
  width: 90%;
}
input[type="number"].popup-form-field-input
{
  width: 50px;
}
.popup-error
{
  color: #b72626;
  font-size: 10pt;
  margin-top: 5px;
}
.notice-text {
  display: inline-block;
  width: 80%;
  word-wrap: break-word;
  margin: 15px 0;
}
@media (max-width: 975px) {
  .popup {
    width: 90%;
  }
  .notice {
    font-size: 11pt;
  }

  img.close-notice {
    height: 13px;
  }
}