
/* Banner containing school name and icon */
.navbar
{
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}
.banner 
{
  display: block;
  font-weight: 100;
  color: black;
  background: white;
  box-shadow: 0 0 5px grey;
  padding: 5px 30px;
  height: 50px;
}
.panel-icon-holder path
{
  fill: black;
}
span.banner-title 
{
	font-size: 14pt;
  font-family: "Helvetica Heue", Helvetica, Arial, sans-serif;
	display: table-cell;
  line-height: 1em;
  overflow: hidden;
  height: 50px;
  vertical-align: middle;
  padding: 3px 0 0 10px;
}
svg.panel-icon 
{
	position: absolute;
	display:block;
	height: 40px;
	width: 40px;
	padding: 5px;
}
div.panel-icon-holder {
  margin-right: 8px;
  height: 100%;
  width: 60px;
  position: relative;
  display: table-cell;
}
svg.panel-icon {
  height: 40px;
  width: 40px;
  padding: 5px;
}
div.container 
{
	top:0; left:0;
	display: block;
  width: 100%;
  padding: 20px;
  margin: 0;
}
/* Create post button */
.create-post
{
  padding: 5px;
  cursor: pointer;
}


/* Form to create new post */
.cform
{
  visibility: hidden;
  padding: 10px;
  text-overflow: ellipsis;
}
.cfield
{
  border: 1px solid #aaa;
  border-radius: 12px;
  display: inline-block;
  height: 45px;
  font-size: 15pt;
  width: 90%;
}
.ctime
{
  width: 90% !important;
  
}
.cdate
{
  background: url(/img/cal.png) no-repeat 98% 50%;
}
.tlabel
{
  display: block;
  margin-bottom: 7px;
}
.tholder
{
  display: inline-block;
  width: 47%;
}
/*.cdate
{
  width: 48% !important;
  min-width: 210px !important;
  margin-right: 3%;
}*/
input[type="text"].cfield
{
  height: 45px;
}
textarea.cfield
{
  height: 180px;
  resize: none;
}
label.description
{
  border:none;
  color:#222;
  display:block;
  font-size:12pt;
  line-height:150%;
  padding:0 0 1px;
}
p.notice
{
  display: inline;
  padding-top: 0;
  clear:both;
  color:#777;
  font-weight: normal;
  font-size:9pt;
  font-style: italic;
  margin:0 0 5px;
}
.button_text
{
  overflow:visible;
  padding:0 7px;
  font-size: 14pt;
  width: 150px !important;
}
#saveForm
{
  float:right;
}
#saveForm:disabled
{
  background:gray;
}
#cancelForm
{
  background: #e874aa;
}
#cancelForm:hover
{
  background:#af567f;
}

/* Custom radio buttons */
label.cont {
    display: inline-block;
    position: relative;
    margin: 5px 10px 5px 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 116px;
    height: 26px;
}
label.cont input.aradio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
span.checkmark {
  font-weight: normal;
  font-size: 12pt;
  line-height: 26px;
    position: absolute;
    height: 26px;
    width: 100px;
    padding: 0 8px 0;
    background-color: #ddd;
    border-radius: 999px;
    text-align: center;
    margin: 0px;
}
label.cont:hover input.aradio ~ span.checkmark {
    background-color: #bbb;
}
label.cont input.aradio:checked ~ span.checkmark {
    background-color: #ff99cc;
}
span.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
label.cont input.radio:checked ~ span.checkmark:after {
    display: inline-block;
}
label.cont .checkmark:after {
  background: transparent;
}

/* Buttons for selecting type of post */
div.button-holder
{
	display: table-cell;
	padding: 3px 5px 5px 10px;
}
span.pb-header
{
	display:block;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 17pt;
	line-height: 1.5em;
}
.postbtn
{
	display:block;
  margin: 5px;
  padding: 0 12px;
  border-radius: 15px;
  width: 308px;
  white-space: normal;
  height: 55px;
  color: white;
  line-height: 1.1em;
  text-align: left;
  background: #196ab1;
}
div.btn-icon-holder {
  height: 50px;
  width: 52px;
  position: relative;
  display: table-cell;
  padding-right: 8px;
}
svg.btn-icon {
	position: absolute;
	display:block;
	height: 50px;
	width: 50px;
}
span.btn-content {
	display: table-cell;
	vertical-align: middle;
}

/* Posts list */
ul.posts {
  list-style: none;
}
li.post-holder {
  background: white;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 3px 9px;
  cursor: pointer;
}
li.post-holder:hover {
  border: 1px solid #aaa;
}
.post-info {
  color: #888;
  font-size: 9pt;
}
.post-user {

}
.post-title {
  font-weight: bold;
  font-size: 13pt;
}
.post-description {
  font-size: 10pt;
}
.post-btn {
  font-size: 9pt;
  margin-right: 10px;
  cursor: pointer;
}
.post-btn:active, .post-btn.clicked {
  color: #993366;
  font-weight: bold;
}
.post-time {
}
.post-content {

}
.noposts {
  background: white;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 3px 9px;
}

/* Post details Page */
div.large-post-holder {
  background: white;
  border: 1px solid #ddd;
  padding: 15px 15px 10px;
  display: none;
}
.large-post-holder .post-title {
  font-size: 15pt;
}
.large-post-holder .post-description {
  font-size: 11pt;
}
.large-post-holder .post-content {
  margin-bottom: 10px;
}
.large-post-holder .post-btn {
  font-size: 9.5pt;
  margin-right: 15px;
}
.back-btn {
  display: none;
  vertical-align: middle;
  width: 200px;
  height: 50px;
  font-size: 13pt;
  cursor: pointer;
}

/* Mobile support */
@media screen and (max-width: 975px) {
  span.pb-header {
  	font-size: 15pt;
  }
  div.button-holder {
  	display: block;
  }
  .button_text {
    width: 125px !important;
  }
}