<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<meta charset="utf-8">
<title>{% block title%}{% endblock %}</title>
{% block page_description %}{% endblock %}
{% block css %}
<!-- Me
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="author" content="Josh Lopez">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/font.css') }}">


<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/base.css')}}">
{% endblock %}
{% block javascript %}
<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js">
</script>
<script type="text/javascript"
  src="{{url_for('static', filename='js/jquery.js')}}">
</script>
<script type="text/javascript"
  src="{{url_for('static', filename='js/jquery-ui.js')}}">
</script>
<script type="text/javascript"
  src="{{url_for('static', filename='js/universal.js')}}">
</script>
{% endblock %}

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="shortcut icon"
  href="{{ url_for('static', filename='img/favicon.png') }}">
{% endblock %}
</head>
<body>
{% block body %}

<!-- Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block navbar %}
  <nav class="navbar" id="navbar-main">
      <ul class="navbar-list">
        <li class="navbar-brand">
          <a id="logo-link" href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='img/logo_new_black.png') }}" alt="gradetip"/>
          </a>
        </li>
        <li class="navbar-holder">
          <button class="gtbtn nav usearch" id="usearch-btn" onclick="location.href='/';">Find School</button>
          <div class="usearch usearch-holder" id="usearch-holder">
            <input class="usearch usearch-bar" id="usearch" type="text" placeholder="Search for a school">
          </div>
          <button class="gtbtn nav" id="upload-btn" onclick="location.href='/sell';">Upload</button>
        </li>
        <li class="navbar-login">
          {% if current_user.is_authenticated %}
          <button class="gtbtn acct profile" onclick="location.href='/logout';">Logout</button>
          {% else %}
          <button class="gtbtn acct" id="reg-btn" onclick="location.href='/register';">Register</button>
          <button class="gtbtn acct" id="login-btn" onclick="location.href='/login';">Login</button>
          {% endif %}
        </li>
        <li class="sidebar-mobile-icon-holder">
            <!-- <img id="sidebar-icon" width="30px" class="sidebar-mobile-icon" src="/img/sidebar/icon.png"> -->
            <div class="icon-wrapper">
              <div class="sidebar-button"></div>
              <div class="circle icon">
                <span class="line top"></span>
                <span class="line middle"></span>
                <span class="line bottom"></span>
              </div>
            </div>
        </li>
      </ul>
  </nav>
  <div class="top-space"></div>
{% endblock %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% block extended_content %}

{% endblock %}


<!-- Company info
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <div class="row">
  {% block footer %}
  <p class="footer" style="text-align:center;">
  </p>
  {% endblock %}
</div> -->
<script type="text/javascript"
  src="{{url_for('static', filename='js/base.js')}}">
</script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
</body>

</html>
