{% extends "base.html" %}
{% block title %}GradeTip - Share your old tests, homework, or notes. {% endblock %}
{% block page_description %}
  <meta name="description" content="Share your old tests, homework or notes to other students.">
{% endblock %}
{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}
{% block javascript %}
{{ super() }}

{% endblock %}
{% block extended_content %}
{{ super() }}
<form id="cv-search" enctype="multipart/form-data" method="post" action="">
	<h1 style="color: white;">Find your school</h1>
  <ul style="list-style:none; margin:0px">
    <li class="cv-holder" style="margin:0px !important">
      <input id="cv-searchbar" type="text" name="squery" style="margin:0px !important">
      <input id="cv-searchbtn" type="submit" value="Search">
    </li>
  </ul>
</form>
<video class='hpvideo' id='hpvideo' loop autoplay poster='/img/homepage.jpg'></video>
<div class="hp"></div>
<script type="text/javascript"
  src="{{url_for('static', filename='js/index.js')}}">
</script>
{% endblock %}
