{% extends "base.html" %}
{% block title %}GradeTip - Share your old tests, homework, or notes. {% endblock %}
{% block page_description %}
  <meta name="description" content="Share your old tests, homework or notes to other students.">
{% endblock %}
{% block endpoints %}
  {{ super() }}
  <meta id="api-school-nearest" data-endpoint="{{ url_for('school.nearest') }}">
{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}
{% block javascript %}
  {{ super() }}

{% endblock %}
{% block extended_content %}
  {{ super() }}
  <form id="cv-search" enctype="multipart/form-data" method="post" action="">
    <h1>Find your school</h1>
    <ul style="list-style:none; margin:0;">
      <li class="cv-holder" style="margin:0 !important">
        <input id="cv-searchbar" type="text" name="squery" style="margin:0 !important">
        <div id="cv-searchbtn">
          <svg id="cv-searchbtn-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 451 451" xml:space="preserve">
            <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
	s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
	C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
	s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"></path>
          </svg>
        </div>
      </li>
    </ul>
  </form>
  <div class="home-background bg"></div>
  <div class='home-background fg'></div>
  <div class="hp"></div>
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/index.js') }}">
  </script>
{% endblock %}
