{% extends "base.html" %}
{% block css %}
<!-- Bootstrap styles -->
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/sellpage.css">
<link rel="stylesheet" href="static/css/jquery-ui.css">
{{ super() }}
{% endblock %}
{% block extended_content %}
{{ super () }}
<script src="static/js/jquery-1.8.3.js"></script>
<style>
  textarea {
    min-width:500px;
    width:500px;
    max-width:610px;
    resize:none;
    font-size:18px;
    overflow-x:auto;
    overflow-y:auto;    
    min-height:34px;
    height:34px;
    padding:2px;
    max-height:5em;    
    position:relative;
    margin-left: 0px;
  }
  .comment-holder {
    position:relative;
    width: 600px;
    padding-right: 100px;
    z-index:1000;
  }
  .like-holder {
    display:block;
    width:90px;
    height: 20px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:0;
    position:absolute;
    border:none;
    margin-top:auto;
    margin-bottom:10px;
    margin-right: 530px;
  }
  .reply-container {
    display:none;
    text-align: center;
    width:100px;
    top:0;
    bottom:0;
    right:0;
    padding:0;
    margin-right:0;
    position:absolute;
    padding:2px;
    border-left:2px solid gray;
    cursor: pointer;
  }
  .reply-holder {
    color:gray;
    font-weight: bold;
    display:block;
    text-align: center;
    height:20px;
    width:100px;
    top:0;
    bottom:0;
    right:0;
    padding:0;
    margin: auto;
    position:absolute;
  }
  .reply-container:hover .reply-holder {
    color: #339999;
  }
  .comment-btn {
    display:block;
    background: none;
    border: none;
    background-size: 16px 16px;
    background-repeat:no-repeat;
    background-position: center center;
    width:27px;
    height:16px;
    position:absolute;
    padding:0;
  }
  .comment-btn.like-btn {
    display:inline;
    background-image: url('static/img/caret-up.png');
    top:0;
    bottom:0;
    right:30px;
    opacity:50%;
  }
  .comment-btn.like-btn:hover {
    background-image: url('static/img/caret-up-selected.png');
  }
  .comment-btn.like-btn.disabled, .comment-btn.like-btn.disabled:hover{
    background-image: url('static/img/caret-up-selected.png');
    cursor:pointer;
  }
  .comment-btn.dislike-btn {
    display:inline;
    background-image: url('static/img/caret-down.png');
    top:0;
    bottom:0;
    right:0;
    opacity:50%;
  }
  .comment-btn.dislike-btn:hover {
    background-image: url('static/img/caret-down-selected.png');
  }
  .comment-btn.dislike-btn.disabled, .comment-btn.dislike-btn.disabled:hover{
    background-image: url('static/img/caret-down-selected.png');
    cursor:pointer;
  }
  #likes {
    display:inline;
    font-weight: bold;
    color:#339999;
    top:0;
    bottom:0;
    left:0;
    text-align:left;
    font-size:9.5pt;
    padding:0;
    word-wrap: normal;
  }
</style>
<script>
var comments = {{ comments|tojson }};
var user = "{{ username }}";
  $(window).load(function(){
  refreshComments(comments);
  var measurer = $('<span>', {
                  style: "display:inline-block;word-break:break-word;visibility:hidden;white-space:pre-wrap;"})
     .appendTo('#comment-container');
  function refreshComments(data){
    comments = data;
    console.log('REFRESH');
    $('#comments-section').empty();
    for (i=0; i < comments.length; i++) {
      var formattedComment = '<div id="comment-holder' + i + '" class="comment-holder" style="word-wrap: break-word; line-height: 1.2em;"><p><font size="2.8em" style="line-height: 1.6em; color:#339999;"><b>' + comments[i]['user'] + '</b></font><font size="2.5em" style="line-height: 1.6em; color:gray;">' + comments[i]['time'] + '</font><br><font size="2.5em">' + comments[i]['text'] + '</font></p><br><div class="like-holder"><button class="comment-btn like-btn" id="like-btn' + i + '"></button><span class="comment-btn" id="likes">' + (comments[i]['likes'] || 0) + '</span><button class="comment-btn dislike-btn" id="dislike-btn' + i + '"></button></div><div id="reply' + i + '" class="reply-container"><div class="reply-holder">REPLY</div></div></div>';
      $(formattedComment).appendTo('#comments-section');
      if ('lusers' in comments[i] && comments[i]['lusers'].includes(user)) {
        document.getElementById("like-btn" + i).className = "comment-btn like-btn disabled";
      }
      if ('dusers' in comments[i] && comments[i]['dusers'].includes(user)) {
        document.getElementById("dislike-btn" + i).className = "comment-btn dislike-btn disabled";
      }
      document.getElementById("like-btn" + i).ind = comments[i]['i']
      document.getElementById("dislike-btn" + i).ind = comments[i]['i']
      document.getElementById("comment-holder" + i).addEventListener('mouseover',function(e){
        this.getElementsByClassName("reply-container")[0].style.display = "block";
      });
      document.getElementById("comment-holder" + i).addEventListener('mouseout',function(e){
        this.getElementsByClassName("reply-container")[0].style.display = "none";
      });
      document.getElementById("like-btn" + i).addEventListener('click',function(e){
        document.getElementById("index").value = this.ind;

        if (~this.className.indexOf("disabled")) {
          this.className = "comment-btn like-btn";
          $.ajax({
            url: '/nullifycomment',
            data: $('#comment-action').serialize(),
            type: 'POST',
            success: function(response) {
              refreshComments(JSON.parse(response));
            },
            error: function(error) {
              console.log(error);
            }
          });
        } else {
          $.ajax({
            url: '/likecomment',
            data: $('#comment-action').serialize(),
            type: 'POST',
            success: function(response) {
              refreshComments(JSON.parse(response));
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        return false;
      });
      document.getElementById("dislike-btn" + i).addEventListener('click',function(e){
        document.getElementById("index").value = this.ind;
        if (~this.className.indexOf("disabled")) {
          this.className = "comment-btn dislike-btn";
          $.ajax({
            url: '/nullifycomment',
            data: $('#comment-action').serialize(),
            type: 'POST',
            success: function(response) {
              refreshComments(JSON.parse(response));
            },
            error: function(error) {
              console.log(error);
            }
          });
        } else {
          $.ajax({
            url: '/dislikecomment',
            data: $('#comment-action').serialize(),
            type: 'POST',
            success: function(response) {
              refreshComments(JSON.parse(response));
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        return false;
      });
      document.getElementById("reply" + i).addEventListener('click', function(e){
      });
    }
  }
  function initMeasurerFor(textarea){
    if(!textarea[0].originalOverflowY){
      textarea[0].originalOverflowY = textarea.css("overflow-y");    
    }  
    var maxWidth = textarea.css("max-width");
    measurer.text(textarea.text())
        .css("max-width", maxWidth == "none" ? textarea.width() + "px" : maxWidth)
        .css('font',textarea.css('font'))
        .css('overflow-y', textarea.css('overflow-y'))
        .css("max-height", textarea.css("max-height"))
        .css("min-height", textarea.css("min-height"))
        .css("min-width", textarea.css("min-width"))
        .css("padding", textarea.css("padding"))
        .css("border", textarea.css("border"))
        .css("box-sizing", textarea.css("box-sizing"))
  }
  function updateTextAreaSize(textarea){
    console.log('updating')
    textarea.height(measurer.height());
    var w = measurer.width();
    if(textarea[0].originalOverflowY == "auto"){
        var mw = textarea.css("max-width");
        if(mw != "none"){
          if(w == parseInt(mw)){
            textarea.css("overflow-y", "auto");
          } else {
            textarea.css("overflow-y", "hidden");
          }
        }
     }
     textarea.width(w + 2);
  }
  $('textarea.autofit').on({
      input: function(){
          var text = $(this).val();
          document.getElementById("comment").value = text;
          if($(this).attr("preventEnter") == undefined){
             text = text.replace(/[\n]/g, "<br>&#8203;");
          }
          measurer.html(text);                       
          updateTextAreaSize($(this));       
      },
      focus: function(){
        console.log('focus')
       initMeasurerFor($(this));
      },
      keypress: function(e){
        if(e.which == 13 && $(this).attr("preventEnter") != undefined){
          e.preventDefault();
        }
      }
  });
  document.getElementById('submit-comment').addEventListener('click', function() {
    document.getElementById("comment").value = document.getElementById("comment-text").value;
    document.getElementById("comment-text").value = "";
    $.ajax({
      url: '/addcomment',
      data: $('#comment-form').serialize(),
      type: 'POST',
      success: function(response) {
        refreshComments(JSON.parse(response));
      },
      error: function(error) {
        console.log(error);
      }
    });
    return false;
  });
  document.getElementById('submit-comment').addEventListener('click', function() {
    document.getElementById("comment").value = document.getElementById("comment-text").value;
    document.getElementById("comment-text").value = "";
    $.ajax({
      url: '/addcomment',
      data: $('#comment-form').serialize(),
      type: 'POST',
      success: function(response) {
        refreshComments(JSON.parse(response));
      },
      error: function(error) {
        console.log(error);
      }
    });
    return false;
  });
  });

</script>
<div id="form_container">
  <div class="header">
      <h1>Chapter 1 Test</h1>
  </div>
  <div class="header-sub">
      <p>{{ data['school']}} - {{ data['course'] }}</p>
  </div>
  <p>Posted by {{ data['user'] }}</p>
  <ul style="list-style: none;">
    {% for path in paths %}
    <li>
      <img src="{{ path }}" width="390px">
    </li>
    {% endfor %}
  </ul>
  <p><b>Comments</b></p>
  <ul id="create-comment" style="list-style: none;">
    <li class="comment-container">
      <textarea placeholder="Add a question or comment..." class="autofit" id="comment-text"></textarea>
      <br>
      <button id="submit-comment" class="btn-primary">Submit</button>
      <form id="comment-form" enctype="multipart/form-data" method="post" action="">
        <input type="text" value="" name="comment" id="comment" style="display:none;"/>
      </form>
    </li>
  </ul>
  <ul id="comments-section" style="list-style: none;">
  </ul>
  <form id="comment-action" enctype="multipart/form-data" method="post" action="">
    <input type="text" value="" name="index" id="index" style="display:none">
  </form>
</div>
{% endblock %}