{% extends "base.html" %}
{% block title %}Sign in{% endblock %}
{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='css/skeleton-alerts.css') }}">
<link rel="stylesheet" type="text/css" 
  href="{{ url_for('static', filename='css/form.css') }}">
<link rel="stylesheet" type="text/css" 
  href="{{ url_for('static', filename='css/jquery-ui.css') }}">
{% endblock %}
{% block extended_content %}
{{ super () }}

  <!-- Login Box
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="form_container">
    <form class="appnitro"  enctype="multipart/form-data" action="{{url_for('loginpage')}}" method="post">
        <div class="header">
            <h1 align="left">Sign in to GradeTip</h1>
        </div>
        <div class="header-sub">
            <p>New to GradeTip? Register <a href="/register">here</a>.</p>
        </div>
        {% if error %}
          <p class="alert alert-error">Email or password is incorrect.</p>
        {% endif %}
        <ul>
            <li id="li_1">
                <label class="description" for="element_1">Email </label>
                <div>
                    <input id="usernameInput" name="username" class="element text large" type="text" maxlength="255" value="" placeholder="Email Address"/> 
                </div>
            </li>
            <li id="li_2" >
                <label class="description" for="element_2">Password </label>
                <div>
                    <input id="passwordInput" name="password" class="element text large" type="password" maxlength="255" value="" placeholder="Password"/> 
                </div>
            </li>
            <li class="buttons">
                <input type="hidden" name="form_id" value="49549" />
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Login" />
            </li>
        </ul>
    </form>
</div>
{% endblock %}
