{% extends "base.html" %}
{% block title %}Content Monitoring | GradeTip{% endblock %}
{% block page_description %}
  <meta name="description" content="Share your old tests, homework or notes to other students.">
{% endblock %}
{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/school.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/jquery.timepicker.min.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/popup.css') }}">
{% endblock %}
{% block javascript %}
{{ super() }}
<script type="text/javascript"
  src="{{ url_for('static', filename='js/jquery.timepicker.min.js') }}">
</script>
<script type="text/javascript"
  src="{{ url_for('static', filename='js/popup.js') }}">
</script>
<script type="text/javascript"
  src="{{ url_for('static', filename='js/post.js') }}">
</script>
{% endblock %}
{% block extended_content %}
{{ super() }}
<div class="banner">
  <span class="banner-title">Content Monitoring</span>
  <a class="back-btn">< Back</a>
</div>
<div class="container">
  <ul class='posts'></ul>
  <div class="large-post-holder"></div>
</div>
<script type="text/javascript"
  src="{{ url_for('static', filename='js/monitor.js') }}">
</script>
{% endblock %}