{% extends "base.html" %}
{% block title %}Results for {{ search_term }}{% endblock %}
{% block page_description %}
  <meta name="description"
    content="A page for displaying a header message along with a description.">
{% endblock %}
{% block css %}
  {{ super() }}
{% endblock %}
{% block extended_content %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery-1.8.3.js') }}"></script>
<script>
var data = {{ results|tojson }}
$(window).load(function(){
  refreshResults(data);
  function refreshResults(data){
    results = data;
    console.log('REFRESH');
//    $('#results-list').empty();
    console.log(results);
    for (i=0; i < results.length; i++) {
      var formattedResult = '<div class="result-holder"><div class="thumbnail-holder"><img class="result-thumbnail" src="' + results[i]['thumbpath'] + '"></div><div class="result-info"><span class="result-title">Midterm Exam 1</span><span class="result-details">University of California Irvine</br>I&C SCI 46</span></div></div>';
      $(formattedResult).appendTo('#results-list');
    }
    return false;
  }
});
</script>
<style>
#results-container {
  width:60%;
  position:absolute;
  margin:auto;
  height:100%;
  background-color: white;
  float:center;
  left:0;
  right:0;
}
#results-list {
  list-style: none;
}
.result-holder {
  border-top: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
  height:100px;
  cursor: pointer;
}
.result-holder:hover {
  background-color: #cccccc;
}
.results-description {
  padding: 5px;
  font-size: 15pt;
}
.result-thumbnail {
  height:100px;
  max-width:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail-holder {
  display: inline-block;
  height:100px;
  width:75px;
}
.result-title {
  vertical-align: top;
  font-weight: bold;
  font-size: 12pt;
}
.result-details {
  vertical-align: top;
  font-size: 11pt;
  color: gray;
  padding-left: 15px;
}
.result-info {
  vertical-align: top;
  height:100px;
  display:inline-block;

}
</style>
<div id="results-container">
  <div class="results-description">
    Showing results that match "{{ query }}"
  </div>
  <ul id="results-list">
  </ul>
</div>
{% endblock %}