{% extends "base.html" %}
{% block title %}Upload Document | GradeTip{% endblock %}
{% block css %}
<!-- Bootstrap styles -->
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

{% endblock %}
{% block javascript %}
{{ super() }}

<script type="text/javascript"
  src="{{url_for('static', filename='js/sell.js') }}">
</script>
{% endblock %}
{% block extended_content %}
{{ super () }}

<div id="form_container">
  <form class="gt-form" enctype="multipart/form-data" method="post" action="">
    <div class="header">
      <h1 align="left">Upload Document</h1>
    </div>
    <div class="header-sub">
      <p>Please provide details about this assignment.</p>
    </div>
    <br>
    <ul>
      <li>
          <label class="description" for="school">School <font color="red">* </font></label>
          <div id="school-holder">
              <input id="school" name="school" class="element text large" type="text" maxlength="255" value="{{ school_name }}" required/>
              <input id="sid" type="hidden" value="{{ sid }}">
          </div>
      </li>
      <li>
          <label class="description" for="cid">Course Code <font color="red">* </font><p class="notice">(e.g. ENG 131)</p></label>
          <div id="course-holder">
              <input id="cid" name="cid" class="element text large" type="text" maxlength="255" value="" required/>
          </div>
      </li>
      <li>
          <label class="description" for="kind">Assignment Type <font color="red">* </font><p class="notice">Choose one</p></label>
            <div class="aradio-holder">
              <label class="kind-holder">
                <input class="aradio" type="radio" checked="checked" value="Test" name="kind">
                <span class="checkmark">Test</span>
              </label>
              <label class="kind-holder">
                <input class="aradio" type="radio" value="Homework" name="kind">
                <span class="checkmark">Homework</span>
              </label>
              <label class="kind-holder">
                <input class="aradio" type="radio" value="Notes" name="kind">
                <span class="checkmark">Notes</span>
              </label>
              <label class="kind-holder">
                <input class="aradio" type="radio" value="Essay/Report" name="kind">
                <span class="checkmark">Essay/Report</span>
              </label>
              <label class="kind-holder">
                <input class="aradio" type="radio" value="Project" name="kind">
                <span class="checkmark">Project</span>
              </label>
            </div>
      </li>
      <li>
          <label class="description" for="title">Document Title <font color="red">* </font><p class="notice"></p></label>
          <div>
              <input id="title" name="title" class="element text large" type="text" maxlength="255" value="" required/>
          </div>
      </li>
      <li>
        <label class="description" for="file">PDF Document <font color="red">* </font><p class="notice">Maximum upload size: 2 MB</p></label>
        <div>
          <input type="file" name="file" id="file" required>
        </div>
      </li>
      <li class="buttons">
          <input id="saveForm" class="button_text" type="submit" value="Submit"/>
      </li>
    </ul>
  </form>
</div>

{% endblock %}