{% extends "base.html" %}
{% block css %}
<!-- Bootstrap styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.fileupload-ui.css">
<link rel="stylesheet" type="text/css" href="/static/css/upload.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.Jcrop.min.css') }}">
{{ super() }}
{% endblock %}
{% block javascript %}
{{ super() }}
<script src="/static/js/upload.js"></script>
<script src="{{ url_for('static', filename='js/jquery.Jcrop.min.js') }}"></script>
{% endblock %}

{% block extended_content %}
{{ super () }}
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
    <div class="page-instructions">
        <h5>Please upload all documents related to this assignment.</h5>
        <form id="form" enctype="multipart/form-data" method="post" action="">
            <span class="btn btn-success fileinput-button" id="upload-docs">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files</span>
                <input type="file" name="file" id="file" multiple>
            </span>
            <button type="button" class="btn btn-primary start" id="confirm-docs">
                <span><b>Continue</b></span>
                <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
            <input type="text" id="files_kept" name="files_kept" value="" style="display:none"/>
            <input type="text" id="x1" name="x1" value="0" style="display:none"/>
            <input type="text" id="y1" name="y1" value="0" style="display:none"/>
            <input type="text" id="x2" name="x2" value="349" style="display:none"/>
            <input type="text" id="y2" name="y2" value="149" style="display:none"/>
            <input type="text" id="preview_index" name="preview_index" value="0" style="display:none"/>
        </form>
    </div>
    <div class="centered">
      <div id="preview" align="center">
        <div class="page-num" id="page-num">0 of 0</div>
        <button class="ub del-upload" id="del-upload"></button>
        <button class="ub rotate-upload" id="rotate-upload"></button>
        <button class="ub left-button" id="left-button"></button>
        <button class="ub right-button" id="right-button"></button>
        <button class="btn btn-warning" id="use-preview">
          <span>Use as Preview</span>
        </button>
        <div id="views"></div>
      </div>
    </div>
{% endblock %}
